<div class="settings" id="adjust-settings">
    <div id="adjust-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="adjust-amount"></div>
    <div id="adjust-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="adjust-content" class="content">
    <ul class="icon-list">
        <li class="icon" id="adjust-auto" data="auto"><img src="/img/tool/auto.svg"><span>Auto</span></li>
        <li class="icon" id="adjust-vibrance" data="vibrance"><img src="/img/tool/vibrance.svg"><span>Vibrance</span></li>
        <li class="icon" id="adjust-saturation" data="saturation"><img src="/img/tool/saturation.svg"><span>Saturate</span></li>
        <li class="icon" id="adjust-temperature" data="temperature"><img src="/img/tool/temperature.svg"><span>Temp</span></li>
        <li class="icon" id="adjust-tint" data="tint"><img src="/img/tool/tint.svg"><span>Tint</span></li>
        <li class="icon" id="adjust-hue" data="hue"><img src="/img/tool/hue.svg"><span>Hue</span></li>
        <li class="icon" id="adjust-brightness" data="brightness"><img src="/img/tool/brightness.svg"><span>Bright</span></li>
        <li class="icon" id="adjust-exposure" data="exposure"><img src="/img/tool/exposure.svg"><span>Exposure</span></li>
        <li class="icon" id="adjust-contrast" data="contrast"><img src="/img/tool/contrast.svg"><span>Contrast</span></li>
        <li class="icon" id="adjust-highlight" data="highlight"><img src="/img/tool/highlight.svg"><span>Highlight</span></li>
        <li class="icon" id="adjust-shadows" data="shadows"><img src="/img/tool/shadows.svg"><span>Shadows</span></li>
        <li class="icon" id="adjust-white" data="white"><img src="/img/tool/white.svg"><span>White</span></li>
        <li class="icon" id="adjust-black" data="black"><img src="/img/tool/black.svg"><span>Black</span></li>
    </ul>
</div>

<div class="bottom">
    <div id="adjust-cancel" class="icon"><img src="/img/line/cancel.svg"></div>
    <div id="adjust-title" class="title">Adjust</div>
    <div id="adjust-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>