<div class="settings" id="blur-settings">
    <div id="blur-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="blur-amount"></div>
    <div id="blur-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="blur-content" class="content">
    <ul id="blur-tools" class="icon-list">
        <li class="icon" id="blur-size"><div></div><span>Size</span></li>
        <li class="icon" id="blur-feather"><div></div><span>Feather</span></li>
        <li class="icon" id="blur-strength"><div></div><span>Strength</span></li>
    </ul>
    <div id="blur-message">You can only blur image layers!</div>
</div>

<div class="bottom">
    <div id="blur-cancel" class="icon"></div>
    <div id="blur-title" class="title">blur</div>
    <div id="blur-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>