<div class="content">
    <ul id="crop-preset">
        <li id="crop-free" data="0:0" class="selected"><span>FREE</span></li>
        <li id="crop-1-1" data="1:1"><span>1:1</span></li>
        <li id="crop-4-3" data="4:3"><span>4:3</span></li>
        <li id="crop-2-3" data="2:3"><span>2:3</span></li>
        <li id="crop-5-4" data="5:4"><span>5:4</span></li>
        <li id="crop-14-9" data="14:9"><span>14:9</span></li>
        <li id="crop-16-9" data="16:9"><span>16:9</span></li>
        <li id="crop-16-10" data="16:10"><span>16:10</span></li>
        <li id="crop-21-9" data="21:9"><span>21:9</span></li>
        <li id="crop-2-1" data="2:1"><span>2:1</span></li>
        <li id="crop-3-1" data="3:1"><span>3:1</span></li>
    </ul>
</div>

<div class="bottom">
    <div id="crop-cancel" class="icon"><img src="/img/line/cancel.svg"></div>
    <div class="title">Crop</div>
    <div id="crop-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>