<div class="settings" id="draw-settings">
    <div id="draw-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="draw-amount"></div>
    <div id="draw-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div class="settings large" id="draw-color-settings">
    <div id="draw-color-hide" class="icon color-selector-hide"><img src="/img/line/down.svg"></div>
    <div id="draw-color-selector"></div>
</div>

<div id="draw-content" class="content">
    <ul id="draw-tools" class="icon-list">
        <li class="icon" id="draw-color"><div></div><span>Color</span></li>
        <li class="icon" id="draw-size"><div></div><span>Size</span></li>
        <li class="icon" id="draw-feather"><div></div><span>Feather</span></li>
        <li class="icon" id="draw-opacity"><div></div><span>Opacity</span></li>
    </ul>
    <div id="draw-message">You can only draw on empty or image layers!</div>
</div>

<div class="bottom">
    <div id="draw-cancel" class="icon"></div>
    <div id="draw-title" class="title">Draw</div>
    <div id="draw-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>