
<div class="settings" id="effect-settings">
    <div id="effect-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="effect-amount"></div>
    <div id="effect-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="effect-content" class="content">
    <div class="icon" id="effect-back"><img src="/img/line/back.svg"/></div>
    <div id="effects"></div>
</div>

<div class="bottom">
    <div id="effect-cancel" class="icon"><img src="/img/line/cancel.svg"></div>
    <div id="effect-title" class="title">Effect</div>
    <div id="effect-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>