<div class="settings" id="eraser-settings">
    <div id="eraser-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="eraser-amount"></div>
    <div id="eraser-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="eraser-content" class="content">
    <ul id="eraser-tools" class="icon-list">
        <li class="icon" id="eraser-size"><div></div><span>Size</span></li>
        <li class="icon" id="eraser-feather"><div></div><span>Feather</span></li>
        <li class="icon" id="eraser-opacity"><div></div><span>Opacity</span></li>
    </ul>
    <div id="eraser-message">You can only erase from image layers!</div>
</div>

<div class="bottom">
    <div id="eraser-cancel" class="icon"></div>
    <div id="eraser-title" class="title">Eraser</div>
    <div id="eraser-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>