<div class="settings" id="fill-settings">
    <div id="fill-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="fill-amount"></div>
    <div id="fill-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div class="settings large" id="fill-color-settings">
    <div id="fill-color-hide" class="icon color-selector-hide"><img src="/img/line/down.svg"></div>
    <div id="fill-color-selector"></div>
</div>

<div id="fill-content" class="content">
    <ul id="fill-tools" class="icon-list">
        <li class="icon" id="fill-color"><div></div><span>Color</span></li>
        <li class="icon" id="fill-tolerance"><div></div><span>Tolernc</span></li>
        <li class="icon" id="fill-opacity"><div></div><span>Opacity</span></li>
        <li class="icon"><input type="checkbox" id="fill-anti-alias" checked /><label class="check-pod" for="fill-anti-alias"><div></div><span>Antiali</span></label></li>
        <li class="icon"><input type="checkbox" id="fill-contiguous" checked /><label class="check-pod" for="fill-contiguous"><div></div><span>Contigus</span></label></li>
    </ul>
    <div id="fill-message">You can only fill empty or image layers!</div>
</div>

<div class="bottom">
    <div id="fill-cancel" class="icon"></div>
    <div id="fill-title" class="title">Fill</div>
    <div id="fill-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>