
<div class="settings" id="filter-settings">
    <div id="filter-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="filter-amount"></div>
    <div id="filter-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="filter-content" class="content">

    <ul class="icon-list">
        <li class="icon" id="filter-sharpen" data="sharpen" range="0,100"><img src="/img/tool/sharpen.svg"><span>Sharpen</span></li>
        <li class="icon" id="filter-clarity" data="clarity" range="-100,100"><img src="/img/tool/clarity.svg"><span>Clarity</span></li>
        <li class="icon" id="filter-smooth" data="smooth" range="0,100"><img src="/img/tool/smooth.svg"><span>Smooth</span></li>
        <li class="icon" id="filter-blur" data="blur" range="0,100"><img src="/img/tool/blur.svg"><span>Blur</span></li>
        <li class="icon" id="filter-grain" data="grain" range="0,100"><img src="/img/tool/grain.svg"><span>Grain</span></li>

        <li class="icon" id="filter-vignette" data="vignette" range="-100,100"><img src="/img/tool/vignette.svg"><span>Vignette</span></li>
        <li class="icon" id="filter-fringe" data="fringe" range="-100,100"><img src="/img/tool/fringe.svg"><span>Fringe</span></li>
        <li class="icon" id="filter-dehaze" data="dehaze" range="0,100"><img src="/img/tool/dehaze.svg"><span>Dehaze</span></li>
        <li class="icon" id="filter-bloom" data="bloom" range="0,100"><img src="/img/tool/bloom.svg"><span>Bloom</span></li>
        <li class="icon" id="filter-glamour" data="glamour" range="0,100"><img src="/img/tool/glamour.svg"><span>Glamour</span></li>
        <li class="icon" id="filter-posterize" data="posterize" range="0,30"><img src="/img/tool/posterize.svg"><span>Posterize</span></li>
        <li class="icon" id="filter-pixelate" data="pixelate" range="0,100"><img src="/img/tool/pixelate.svg"><span>Pixelate</span></li>
        <li class="icon" id="filter-mosaic" data="mosaic" range="0,100"><img src="/img/tool/mosaic.svg"><span>Mosaic</span></li>
        <li class="icon" id="filter-halftone" data="halftone" range="0,200"><img src="/img/tool/halftone.svg"><span>Halftone</span></li>
    </ul>
</div>

<div class="bottom">
    <div id="filter-cancel" class="icon"><img src="/img/line/cancel.svg"></div>
    <div id="filter-title" class="title">Filter</div>
    <div id="filter-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>