<div class="settings" id="heal-settings">
    <div id="heal-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="heal-amount"></div>
    <div id="heal-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="heal-content" class="content">
    <ul id="heal-tools" class="icon-list">
        <li class="icon" id="heal-size"><div></div><span>Size</span></li>
    </ul>
    <div id="heal-message">You can only heal image layers!</div>
</div>

<div class="bottom">
    <div id="heal-cancel" class="icon"></div>
    <div id="heal-title" class="title">Heal</div>
    <div id="heal-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>