<div id="tool-menu">
    <ul class="icon-list">
        <li class="icon" id="reform"><img src="/img/tool/thin/reform.svg">Reform</li>
        <li class="icon" id="retouch"><img src="/img/tool/thin/retouch.svg">Retouch</li>
        <li class="icon" id="paint"><img src="/img/tool/thin/paint.svg">Paint</li>
        <li class="icon tool" data="adjust"><img src="/img/tool/thin/adjust.svg">Adjust</li>
        <li class="icon tool" data="filter"><img src="/img/tool/thin/filter.svg">Filter</li>
        <li class="icon tool" data="effect"><img src="/img/tool/thin/effect.svg">Effect</li>
        <!--<li class="icon tool" data="text"><img src="/img/tool/thin/text.svg">Text</li>
        <li class="icon tool" data="element"><img src="/img/tool/thin/element.svg">Element</li>
        <li class="icon" id="more"><img src="/img/tool/thin/more.svg">More</li>-->
    </ul>
</div>

<ul id="menu-reform" class="sub-menu">
    <li class="icon tool" data="crop"><img src="/img/tool/crop.svg">Crop</li>
    <li class="icon tool" data="rotate"><img src="/img/tool/rotate.svg">Rotate</li>
    <li class="icon tool" data="resize-image"><img src="/img/tool/resize.svg">Resize</li>
    <li class="icon tool" data="resize-canvas"><img src="/img/tool/canvas.svg">Canvas</li>
    <!--<li class="icon tool" data="cutout"><img src="/img/tool/cutout.svg">Cutout</li>-->
</ul>
<ul id="menu-retouch" class="sub-menu">
    <li class="icon tool" data="heal"><img src="/img/tool/heal.svg">Heal</li>
    <!--<li class="icon tool" data="clone"><img src="/img/tool/clone.svg">Clone</li>-->
    <li class="icon tool" data="sharpen"><img src="/img/tool/sharpen.svg">Sharp</li>
    <li class="icon tool" data="blur"><img src="/img/tool/blur.svg">Blur</li>
    <li class="icon tool" data="toning"><img src="/img/tool/toning.svg">Toning</li>
    <li class="icon tool" data="temper"><img src="/img/tool/temper.svg">Temper</li>
</ul>
<ul id="menu-paint" class="sub-menu">
    <li class="icon tool" data="draw"><img src="/img/tool/draw.svg">Draw</li>
    <li class="icon tool" data="eraser"><img src="/img/tool/eraser.svg">Eraser</li>
    <li class="icon tool" data="fill"><img src="/img/tool/fill.svg">Fill</li>
    <!--<li class="icon tool" data="pen"><img src="/img/tool/pen.svg">Pen</li>
    <li class="icon tool" data="shape"><img src="/img/tool/shape.svg">Shape</li>!-->
</ul>