
<div id="image-resize-content" class="content row">

    <label class="split">Width <input type="number" id="image-resize-width"/></label>
    <label class="split pad-5">Height <input type="number" id="image-resize-height"/></label>

    <input type="checkbox" checked id="image-resize-constrain" />
    <label class="switch pad-20" for="image-resize-constrain">Constrain proportions<span></span></label>

    <div class="pad-10"></div>
</div>

<div class="bottom">
    <div id="image-resize-cancel" class="icon"><img src="/img/line/cancel.svg"></div>
    <div id="image-resize-title" class="title">Resize Image</div>
    <div id="image-resize-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>