
<div class="settings" id="straighten-settings">
    <div id="straighten-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="straighten-amount"></div>
</div>

<div id="rotate-content" class="content">
    <ul class="icon-list">
        <li class="icon" id="straighten"><img src="/img/tool/straighten.svg"><span>straight</span></li>
        <li class="icon" id="rotate-left"><img src="/img/tool/rotate-left.svg"><span>Rotate L</span></li>
        <li class="icon" id="rotate-right"><img src="/img/tool/rotate-right.svg"><span>Rotate R</span></li>
        <li class="icon" id="flip-vertical"><img src="/img/tool/flip-vertical.svg"><span>Flip V</span></li>
        <li class="icon" id="flip-horizontal"><img src="/img/tool/flip-horizontal.svg"><span>Flip H</span></li>
    </ul>
</div>

<div class="bottom">
    <div id="rotate-cancel" class="icon"><img src="/img/line/cancel.svg"></div>
    <div id="rotate-title" class="title">Rotate</div>
    <div id="rotate-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>