<div class="settings" id="sharpen-settings">
    <div id="sharpen-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="sharpen-amount"></div>
    <div id="sharpen-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="sharpen-content" class="content">
    <ul id="sharpen-tools" class="icon-list">
        <li class="icon" id="sharpen-size"><div></div><span>Size</span></li>
        <li class="icon" id="sharpen-feather"><div></div><span>Feather</span></li>
        <li class="icon" id="sharpen-strength"><div></div><span>Strength</span></li>
    </ul>
    <div id="sharpen-message">You can only sharpen image layers!</div>
</div>

<div class="bottom">
    <div id="sharpen-cancel" class="icon"></div>
    <div id="sharpen-title" class="title">Sharpen</div>
    <div id="sharpen-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>