<img id="splash-icon" src="/img/misc/m-top.svg">
<div id="splash-logo"><span>PIXLR M</span></div>

<div id="splash-back" class="icon" style="display:none"><img src="/img/line/back.svg"></div>

<div id="splash-content">

    <div class="buttons">
        <a id="splash-open-image" class="button">
            <div class="icon big"><img src="/img/line/image.svg"></div>
            <span>Photo</span>
        </a>

        <a id="splash-open-camera" class="button">
            <div class="icon big"><img src="/img/line/camera.svg"></div>
            <span>Camera</span>
        </a>
    </div>

    <div id="history" style="display: none;">
        <label>History</label>
        <div id="recent-content">



        </div>
        <a id="recent-clear">Clear History</a>
    </div>

</div>