<div class="settings" id="temper-settings">
    <div id="temper-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="temper-amount"></div>
    <div id="temper-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="temper-content" class="content">
    <ul id="temper-tools" class="icon-list">
        
        <li class="switch-pod" id="temper-mode">
            <div class="icon"></div>
            <ul>
                <li class="icon selected" data="increase"><img src="/img/line/increase.svg"><span>Increase</span></li>
                <li class="icon" data="decrease"><img src="/img/line/decrease.svg"><span>Decrease</span></li>
            </ul>
        </li>
        <li class="switch-pod" id="temper-method">
            <div class="icon"></div>
            <ul>
                <li class="icon selected" data="vibrance"><img src="/img/tool/vibrance.svg"><span>Vibrance</span></li>
                <li class="icon" data="saturation"><img src="/img/tool/saturation.svg"><span>Saturat</span></li>
                <li class="icon" data="temperature"><img src="/img/tool/temperature.svg"><span>Temperat</span></li>
            </ul>
        </li>
        <li class="icon" id="temper-size"><div></div><span>Size</span></li>
        <li class="icon" id="temper-feather"><div></div><span>Feather</span></li>
        <li class="icon" id="temper-strength"><div></div><span>Strength</span></li>
    </ul>
    <div id="temper-message">You can only temper image layers!</div>
</div>

<div class="bottom">
    <div id="temper-cancel" class="icon"></div>
    <div id="temper-title" class="title">Temper</div>
    <div id="temper-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>