<div class="settings" id="toning-settings">
    <div id="toning-reset" class="icon"><img src="/img/line/reset.svg"></div>
    <div id="toning-amount"></div>
    <div id="toning-hide" class="icon"><img src="/img/line/down.svg"></div>
</div>

<div id="toning-content" class="content">
    <ul id="toning-tools" class="icon-list">
        
        <li class="switch-pod" id="toning-mode">
            <div class="icon"></div>
            <ul>
                <li class="icon selected" data="lighten"><img src="/img/tool/white.svg"><span>Lighten</span></li>
                <li class="icon" data="darken"><img src="/img/tool/black.svg"><span>Darken</span></li>
            </ul>
        </li>
        <li class="switch-pod" id="toning-range">
            <div class="icon"></div>
            <ul>
                <li class="icon" data="shadow"><img src="/img/tool/shadows.svg"><span>Shadow</span></li>
                <li class="icon selected" data="midtone"><img src="/img/tool/midtones.svg"><span>Midtone</span></li>
                <li class="icon" data="highlight"><img src="/img/tool/highlight.svg"><span>HiLight</span></li>
            </ul>
        </li>
        <li class="icon" id="toning-size"><div></div><span>Size</span></li>
        <li class="icon" id="toning-feather"><div></div><span>Feather</span></li>
        <li class="icon" id="toning-strength"><div></div><span>Strength</span></li>
    </ul>
    <div id="toning-message">You can only tone image layers!</div>
</div>

<div class="bottom">
    <div id="toning-cancel" class="icon"></div>
    <div id="toning-title" class="title">Toning</div>
    <div id="toning-apply" class="icon"><img src="/img/line/apply.svg"></div>
</div>