<div class="option-icon"><img src="/img/tool/thick/detail.svg"></div>

<div id="detail-no-layer" style="display: none">
    <div class="tab-10">§viewDetailNoLayer§</div>
</div>

<div id="detail-settings">

    <label class="tab-10">§mode§:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="detail-mode-blur" name="detail-mode" value="blur" checked/><label for="detail-mode-blur">§blur§</label>
        <input type="radio" id="detail-mode-sharpen" name="detail-mode" value="sharpen"/><label for="detail-mode-sharpen">§sharpen§</label>
        <input type="radio" id="detail-mode-smudge" name="detail-mode" value="smudge"/><label for="detail-mode-smudge">§smudge§</label>
    </div>
    <label class="tab-20">§brush§:</label>
    <div id="detail-brush"></div>

    <div id="detail-strength" class="range-box tab-20"></div>

</div>
