<div class="option-icon"><img src="/img/tool/thick/draw.svg"></div>

<div id="draw-no-layer">
    <div class="tab-10">§viewDrawNoLayer§</div>
</div>

<div id="draw-settings">

    <label class="tab-10">§brush§:</label>
    <div id="draw-brush"></div>

    <div id="draw-opacity" class="range-box tab-20"></div>

    <label class="tab-20">§mirror§:</label>
    <div class="select">
        <select id="draw-mirror">
            <option value="none" selected>§none§</option>
            <option value="vertical" >§vertical§</option>
            <option value="horizontal">§horizontal§</option>
            <option value="fourway">§fourWay§</option>
        </select>
    </div>

    <input id="draw-hard-tip" type="checkbox" />
    <label class="switch tab-25" for="draw-hard-tip"><span></span>§hardTip§</label>

</div>