<div class="option-icon"><img src="/img/tool/thick/marquee.svg"></div>

<div id="marquee-settings">

    <label class="tab-10">§type§:</label>            
    <div class="switch-icon-field tab-5">
        <input type="radio" id="marquee-type-rectangle" name="marquee-type" value="rectangle" checked /><label for="marquee-type-rectangle" tooltip="§rectangle§" flow="down"><img src="/img/icon/rectangle.svg"/></label>
        <input type="radio" id="marquee-type-ellipse" name="marquee-type" value="ellipse" /><label for="marquee-type-ellipse" tooltip="§ellipse§" flow="down"><img src="/img/icon/ellipse.svg"/></label>
    </div>

    <label class="tab-20">§mode§:</label>
    <div class="switch-icon-field tab-5">
        <input type="radio" id="marquee-mode-new" name="marquee-mode" value="new" checked/><label for="marquee-mode-new" tooltip="§newSelection§" flow="down"><img src="/img/icon/selection-new.svg"/></label>
        <input type="radio" id="marquee-mode-add" name="marquee-mode" value="add" /><label for="marquee-mode-add" tooltip="§addToSelection§" flow="down"><img src="/img/icon/selection-add.svg"/></label>
        <input type="radio" id="marquee-mode-remove" name="marquee-mode" value="remove" /><label for="marquee-mode-remove" tooltip="§removeFromSelection§" flow="down"><img src="/img/icon/selection-remove.svg"/></label>
    </div>

    <div id="marquee-feather" class="range-box tab-20"></div>

    <input type="checkbox" id="marquee-anti-alias" checked />
    <label class="switch tab-25" for="marquee-anti-alias"><span></span>§antiAlias§</label>
</div>