<div class="splitter"></div>
<ul id="tool-menu">
    <li data="arrange" id="tool-arrange"><img src="/img/tool/thick/arrange.svg" width="22" height="22"></li>
    <li data="marquee" id="tool-marquee"><img src="/img/tool/thick/marquee.svg" width="22" height="22"></li>
    <li data="lasso" id="tool-lasso"><img src="/img/tool/thick/lasso.svg" width="22" height="22"></li>
    <li data="wand" id="tool-wand"><img src="/img/tool/thick/wand.svg" width="22" height="22"></li>
    <li data="crop" id="tool-crop"><img src="/img/tool/thick/crop.svg" width="22" height="22"></li>
    <li data="cutout" id="tool-cutout"><img src="/img/tool/thick/cutout.svg" width="22" height="22"></li>
    <li data="liquify" id="tool-liquify"><img src="/img/tool/thick/liquify.svg" width="22" height="22"></li>
    <li data="heal" id="tool-heal"><img src="/img/tool/thick/heal.svg" width="22" height="22"></li>
    <li data="clone" id="tool-clone"><img src="/img/tool/thick/clone.svg" width="22" height="22"></li>
    <li data="detail" id="tool-detail"><img src="/img/tool/thick/detail.svg" width="22" height="22"></li>
    <li data="toning" id="tool-toning"><img src="/img/tool/thick/toning.svg" width="22" height="22"></li>
    <li data="temper" id="tool-temper"><img src="/img/tool/thick/temper.svg" width="22" height="22"></li>
    <li data="pen" id="tool-pen"><img src="/img/tool/thick/pen.svg" width="22" height="22"></li>
    <li data="draw" id="tool-draw"><img src="/img/tool/thick/draw.svg" width="22" height="22"></li>
    <li data="eraser" id="tool-eraser"><img src="/img/tool/thick/eraser.svg" width="22" height="22"></li>
    <li data="replace" id="tool-replace"><img src="/img/tool/thick/replace.svg" width="22" height="22"></li>
    <li data="fill" id="tool-fill"><img src="/img/tool/thick/fill.svg" width="22" height="22"></li>
    <li data="gradient" id="tool-gradient"><img src="/img/tool/thick/gradient.svg" width="22" height="22"></li>
    <li data="frame" id="tool-frame"><img src="/img/tool/thick/frame.svg" width="22" height="22"></li>
    <li data="shape" id="tool-shape"><img src="/img/tool/thick/shape.svg" width="22" height="22"></li>
    <li data="text" id="tool-text"><img src="/img/tool/thick/text.svg" width="22" height="22"></li>
    <li data="picker" id="tool-picker"><img src="/img/tool/thick/picker.svg" width="22" height="22"></li>
    <li data="zoom" id="tool-zoom"><img src="/img/tool/thick/zoom.svg" width="22" height="22"></li>
    <li data="hand" id="tool-hand"><img src="/img/tool/thick/hand.svg" width="22" height="22"></li>
</ul>

<div id="color-holder">
    <div id="color-main"></div>
    <div id="color-alt"></div>
    <div id="color-switch" tooltip="§colorSwitch§" flow="right"><img src="/img/icon/switch.svg"></div>
</div>

<div id="tooltip-arrange" class="tooltip">
    <img src="/img/tool/thick/arrange-info.jpg" width="240" height="120" loading="lazy" alt="Arrange tool info">
    <p>
        <label>§toolArrange§</label>
        §toolArrangeDesc§
        <small>§toolKB§ (V)</small>
    </p>
</div>
<div id="tooltip-marquee" class="tooltip">
    <img src="/img/tool/thick/marquee-info.jpg" width="240" height="120" loading="lazy" alt="Marquee select tool info">
    <p>
        <label>§toolMarquee§</label>
        §toolMarqueeDesc§
        <small>§toolKB§ (M)</small>
    </p>
</div>
<div id="tooltip-lasso" class="tooltip">
    <img src="/img/tool/thick/lasso-info.jpg" width="240" height="120" loading="lazy" alt="Lasso select tool info">
    <p>
        <label>§toolLasso§</label>
        §toolLassoDesc§
        <small>§toolKB§ (L)</small>
    </p>
</div>
<div id="tooltip-wand" class="tooltip">
    <img src="/img/tool/thick/wand-info.jpg" width="240" height="120" loading="lazy" alt="Wand select tool info">
    <p>
        <label>§toolWand§</label>
        §toolWandDesc§
        <small>§toolKB§ (W)</small>
    </p>
</div>
<div id="tooltip-crop" class="tooltip">
    <img src="/img/tool/thick/crop-info.jpg" width="240" height="120" loading="lazy" alt="Crop tool info">
    <p>
        <label>§toolCrop§</label>
        §toolCropDesc§
        <small>§toolKB§ (C)</small>
    </p>
</div>
<div id="tooltip-cutout" class="tooltip">
    <img src="/img/tool/thick/cutout-info.jpg" width="240" height="120" loading="lazy" alt="Cutout tool info">
    <p>
        <label>§toolCutout§</label>
        §toolCutoutDesc§
        <small>§toolKB§ (K)</small>
    </p>
</div>
<div id="tooltip-frame" class="tooltip">
    <img src="/img/tool/thick/frame-info.jpg" width="240" height="120" loading="lazy" alt="Frame tool info">
    <p>
        <label>§toolFrame§</label>
        §toolFrameDesc§
        <small>§toolKB§ (N)</small>
    </p>
</div>
<div id="tooltip-liquify" class="tooltip">
    <img src="/img/tool/thick/liquify-info.jpg" width="240" height="120" loading="lazy" alt="Liquify tool info">
    <p>
        <label>§toolLiquify§</label>
        §toolLiquifyDesc§
        <small>§toolKB§ (Q)</small>
    </p>
</div>
<div id="tooltip-heal" class="tooltip">
    <img src="/img/tool/thick/heal-info.jpg" width="240" height="120" loading="lazy" alt="Heal tool info">
    <p>
        <label>§toolHeal§</label>
        §toolHealDesc§
        <small>§toolKB§ (H)</small>
    </p>
</div>
<div id="tooltip-clone" class="tooltip">
    <img src="/img/tool/thick/clone-info.jpg" width="240" height="120" loading="lazy" alt="Clone tool info">
    <p>
        <label>§toolClone§</label>
        §toolCloneDesc§
        <small>§toolKB§ (S)</small>
    </p>
</div>
<div id="tooltip-detail" class="tooltip">
    <img src="/img/tool/thick/detail-info.jpg" width="240" height="120" loading="lazy" alt="Detail tool info">
    <p>
        <label>§toolDetail§</label>
        §toolDetailDesc§
        <small>§toolKB§ (D)</small>
    </p>
</div>
<div id="tooltip-toning" class="tooltip">
    <img src="/img/tool/thick/toning-info.jpg" width="240" height="120" loading="lazy" alt="Toning tool info">
    <p>
        <label>§toolToning§</label>
        §toolToningDesc§
        <small>§toolKB§ (O)</small>
    </p>
</div>
<div id="tooltip-temper" class="tooltip">
    <img src="/img/tool/thick/temper-info.jpg" width="240" height="120" loading="lazy" alt="Temper tool info">
    <p>
        <label>§toolTemper§</label>
        §toolTemperDesc§
        <small>§toolKB§ (R)</small>
    </p>
</div>
<div id="tooltip-pen" class="tooltip">
    <img src="/img/tool/thick/pen-info.jpg" width="240" height="120" loading="lazy" alt="Pen tool info">
    <p>
        <label>§toolPen§</label>
        §toolPenDesc§
        <small>§toolKB§ (P)</small>
    </p>
</div>
<div id="tooltip-draw" class="tooltip">
    <img src="/img/tool/thick/draw-info.jpg" width="240" height="120" loading="lazy" alt="Draw tool info">
    <p>
        <label>§toolDraw§</label>
        §toolDrawDesc§
        <small>§toolKB§ (B)</small>
    </p>
</div>
<div id="tooltip-eraser" class="tooltip">
    <img src="/img/tool/thick/eraser-info.jpg" width="240" height="120" loading="lazy" alt="Eraser tool info">
    <p>
        <label>§toolEraser§</label>
        §toolEraserDesc§
        <small>§toolKB§ (E)</small>
    </p>
</div>
<div id="tooltip-fill" class="tooltip">
    <img src="/img/tool/thick/fill-info.jpg" width="240" height="120" loading="lazy" alt="Fill tool info">
    <p>
        <label>§toolFill§</label>
        §toolFillDesc§
        <small>§toolKB§ (F)</small>
    </p>
</div>
<div id="tooltip-gradient" class="tooltip">
    <img src="/img/tool/thick/gradient-info.jpg" width="240" height="120" loading="lazy" alt="Gradient tool info">
    <p>
        <label>§toolGradient§</label>
        §toolGradientDesc§
        <small>§toolKB§ (G)</small>
    </p>
</div>
<div id="tooltip-replace" class="tooltip">
    <img src="/img/tool/thick/replace-info.jpg" width="240" height="120" loading="lazy" alt="Color replace tool info">
    <p>
        <label>§toolReplace§</label>
        §toolReplaceDesc§
        <small>§toolKB§ (A)</small>
    </p>
</div>
<div id="tooltip-shape" class="tooltip">
    <img src="/img/tool/thick/shape-info.jpg" width="240" height="120" loading="lazy" alt="Shape tool info">
    <p>
        <label>§toolShape§</label>
        §toolShapeDesc§
        <small>§toolKB§ (U)</small>
    </p>
</div>
<div id="tooltip-text" class="tooltip">
    <img src="/img/tool/thick/text-info.jpg" width="240" height="120" loading="lazy" alt="Text tool info">
    <p>
        <label>§toolAddText§</label>
        §toolAddTextDesc§
        <small>§toolKB§ (T)</small>
    </p>
</div>
<div id="tooltip-picker" class="tooltip">
    <img src="/img/tool/thick/picker-info.jpg" width="240" height="120" loading="lazy" alt="Picker tool info">
    <p>
        <label>§toolPicker§</label>
        §toolPickerDesc§
        <small>§toolKB§ (I)</small>
    </p>
</div>
<div id="tooltip-zoom" class="tooltip">
    <img src="/img/tool/thick/zoom-info.jpg" width="240" height="120" loading="lazy" alt="Zoom tool info">
    <p>
        <label>§toolZoom§</label>
        §toolZoomDesc§
        <small>§toolKB§ (Z)</small>
    </p>
</div>
<div id="tooltip-hand" class="tooltip">
    <img src="/img/tool/thick/hand-info.jpg" width="240" height="120" loading="lazy" alt="Hannd tool info">
    <p>
        <label>§toolHand§</label>
        §toolHandDesc§
        <small>§toolKB§ (SPACEBAR)</small>
    </p>
</div>
