<div class="option-icon"><img src="/img/tool/thick/pen.svg"></div>

<div id="pen-no-layer">
    <div class="tab-10">§viewPenNoLayer§</div>
</div>

<div id="pen-settings">

    <label class="tab-10">§variant§:</label>
    <div class="select">
        <select id="pen-mode">
            <option value="plain">§viewPenPlain§</option>
            <option value="sketchy" selected>§viewPenSketchy§</option>
            <option value="parallel">§viewPenParallel§</option>
            <option value="trail">§viewPenTrail§</option>
            <option value="shaded">§viewPenShaded§</option>
            <option value="furry">§viewPenFurry§</option>
            <option value="crayon">§viewPenCrayon§</option>
            <option value="ink">§viewPenInk§</option>
        </select>
    </div>

    <div id="pen-size" class="range-box tab-20"></div>
    <div id="pen-amount" class="range-box tab-20"></div>
    <div id="pen-opacity" class="range-box tab-20"></div>

</div>