<div class="option-icon"><img src="/img/tool/thick/replace.svg"></div>

<div id="replace-no-layer">
    <div class="tab-10">§viewReplaceNoLayer§</div>
</div>

<div id="replace-settings">

    <label class="tab-10">§brush§:</label>
    <div id="replace-brush"></div>

    <div id="replace-tolerance" class="range-box tab-20"></div>

    <div id="replace-opacity" class="range-box tab-20"></div>

    <input id="replace-match" type="checkbox" />
    <label class="switch tab-25" for="replace-match"><span></span>§viewReplaceMatchLight§</label>
</div>