<div class="option-icon"><img src="/img/tool/thick/temper.svg"></div>

<div id="temper-no-layer" style="display: none">
    <div class="tab-10">§viewTemperNoLayer§</div>
</div>

<div id="temper-settings">

    <label class="tab-10">§mode§:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="temper-mode-increase" name="temper-mode" value="increase" checked/><label for="temper-mode-increase">§increase§</label>
        <input type="radio" id="temper-mode-decrease" name="temper-mode" value="decrease"/><label for="temper-mode-decrease">§decrease§</label>
    </div>
    <label class="tab-20">§method§:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="temper-method-vibrance" name="temper-method" value="vibrance" checked/><label for="temper-method-vibrance">§vibrance§</label>
        <input type="radio" id="temper-method-saturation" name="temper-method" value="saturation" /><label for="temper-method-saturation">§saturation§</label>
        <input type="radio" id="temper-method-temperature" name="temper-method" value="temperature"/><label for="temper-method-temperature">§temperature§</label>
    </div>
    <label class="tab-20">§brush§:</label>
    <div id="temper-brush"></div>

    <div id="temper-brush-strength" class="range-box tab-20"></div>
</div>

