<div class="option-icon"><img src="/img/tool/thick/toning.svg"></div>

<div id="toning-no-layer" style="display: none">
    <div class="tab-10">§viewToningNoLayer§</div>
</div>

<div id="toning-settings">

    <label class="tab-10">§mode§:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="toning-mode-lighten" name="toning-mode" value="lighten" checked/><label for="toning-mode-lighten">§lighten§</label>
        <input type="radio" id="toning-mode-darken" name="toning-mode" value="darken"/><label for="toning-mode-darken">§darken§</label>
    </div>
    <label class="tab-20">§range§:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="toning-range-shadow" name="toning-range" value="shadow"/><label for="toning-range-shadow">§shadows§</label>
        <input type="radio" id="toning-range-midtone" name="toning-range" value="midtone" checked/><label for="toning-range-midtone">§midtones§</label>
        <input type="radio" id="toning-range-highlight" name="toning-range" value="highlight"/><label for="toning-range-highlight">§highlights§</label>
    </div>
    <label class="tab-20">§brush§:</label>
    <div id="toning-brush"></div>

    <div id="toning-brush-strength" class="range-box tab-20"></div>

</div>

